.info-list {
  //Personal_Info_______________________________________________
  .personal-info {
    li {
      margin: 10px 0;
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
