.feature-item {
  p {
    color: #4c4c4c;
    line-height: 26px;
    letter-spacing: 0.8px;
  }
  .head-box {
    img {
      width: 100px;
      height: 100px;
    }
    h3 {
      font-size: 20px;
      font-weight: 900;
    }
  }
}
